@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-dark-amber/theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  background-color: #111827;
}

.chart-box {
  height: 48vh;
  width: 40vw;
}

.margin-10 {
  margin: 10px;
}

.padding-125 {
  padding: 1.25rem;
}

.cursor-pointer {
  cursor:pointer;
}

.header-image {
  max-height: 21vh; 
  width: 100%; 
  overflow-y: hidden;
  border-radius: 10px 10px 0px 0px;
}
.clipped {
  height: 55vh; 
  width: 100%;
}

.width-100 {
    width: 350px;
}

.p-card-body {
    padding: 1rem;
}

.p-card-content {
    padding: 0.5rem 0rem;
}

.artist-name-link:hover {
  cursor: pointer;
  text-decoration: underline #fbbf23;
}

#networkGraph > div > div > svg {
  zoom: 2;
}

